<template>
  <div class="flex h-full">
    <div class="w-60 h-full text-white p-4 bg-gradient-to-br from-sky-900 to-sky-950">
      <MenuDrawer />
    </div>
    <div class="grow p-4 bg-sky-100">
      <RouterView />
    </div>

    <SConfirmationDialog />
  </div>
</template>

<script setup>
import { RouterView } from 'vue-router'
import MenuDrawer from '@/components/menus/menu-drawer/MenuDrawer.vue'
import SConfirmationDialog from '@/components/dialogs/SConfirmationDialog.vue'
</script>
