<template>
  <div>
    <label v-if="label" :for="id" class="text-sm font-medium text-gray-600">{{ label }}</label>
    <input
      :type="type"
      :id="id"
      :value="modelValue"
      :placeholder="placeholder"
      @input="$emit('update:modelValue', $event.target.value)"
      class="mt-1 p-2 border rounded-md w-full focus:outline-none focus:ring focus:border-blue-300"
    />
  </div>
</template>

<script setup>
defineProps({
  id: {
    type: String,
    required: true
  },
  label: {
    type: String,
    required: false
  },
  type: {
    type: String,
    default: 'text'
  },
  modelValue: {},
  placeholder: {
    type: String,
    required: false
  }
})
</script>

<style scoped>
</style>
