<template>
  <button
    :class="[classesRegardingType, fullWidth, classRegardingFocus, addClasses]"
    class="flex items-center p-1 px-2 min-w-[6.25rem] rounded-[0.25rem] text-white cursor-pointer disabled:bg-gray-400 disabled:cursor-not-allowed"
    :disabled="disabled"
  >
    {{ label }}
  </button>
</template>

<script setup>
import { computed } from 'vue'

const classes = {
  regular: ['bg-sky-800', 'hover:bg-sky-700', 'justify-center', 'font-semibold'],
  green: ['bg-green-800', 'hover:bg-green-700', 'justify-center', 'font-semibold'],
  red: ['bg-red-800', 'hover:bg-red-700', 'justify-center', 'font-semibold'],
  drawer: ['hover:bg-sky-900'],
  danger: ['bg-red-600', 'hover:bg-red-500', 'justify-center', 'font-semibold'],
  warning: ['bg-orange-600', 'hover:bg-orange-500', 'justify-center', 'font-semibold'],
  ticTacToe: ['bg-sky-800', 'hover:bg-sky-700', 'justify-center', 'font-semibold', 'h-40', 'w-40', 'text-6xl']
}

const props = defineProps({
  type: {
    type: String,
    required: false,
    default: 'regular'
  },
  label: {
    type: String,
    required: true,
    default: 'No label'
  },
  fullWidth: {
    type: Boolean,
    default: false
  },
  inFocusMenu: {
    type: Boolean,
    default: false
  },
  disabled: {
    type: Boolean,
    default: false
  },
  addClasses: {
    type: Array,
    default: () => []
  }
})

const classesRegardingType = computed(() => {
  return classes[props.type]
})

const classRegardingFocus = computed(() => {
  if (props.type === 'drawer' && props.inFocusMenu) {
    // , 'bg-gradient-to-r from-sky-900 to-sky-900 via-white animate-gradient-x'
    return ['font-bold']
  }
  return ''
})

const fullWidth = computed(() => {
  return props.fullWidth ? ['w-full'] : []
})
</script>
