<template>
  <button
    :class="[classesRegardingType, fullWidth, classRegardingFocus]"
    class="flex p-1.5 rounded-[1rem] text-white cursor-pointer disabled:bg-gray-400 disabled:cursor-not-allowed"
    :disabled="disabled"
  >
    <i
      :class="`pi ${internalSpin} ${icon} self-center`"
      :style="`
        font-size: ${fontSize}rem;
        color: ${color}
      `"
    />
  </button>
</template>

<script setup>
import { computed } from 'vue'

const classes = {
  regular: ['bg-sky-800', 'hover:bg-sky-700', 'justify-center', 'font-semibold'],
  cyan: ['bg-cyan-500', 'hover:bg-cyan-400', 'justify-center', 'font-semibold'],
  green: ['bg-green-800', 'hover:bg-green-700', 'justify-center', 'font-semibold'],
  red: ['bg-red-800', 'hover:bg-red-700', 'justify-center', 'font-semibold'],
  danger: ['bg-red-600', 'hover:bg-red-500', 'justify-center', 'font-semibold'],
  drawer: ['hover:bg-sky-900']
}

const props = defineProps({
  type: {
    type: String,
    required: false,
    default: 'regular'
  },
  fullWidth: {
    type: Boolean,
    default: false
  },
  inFocusMenu: {
    type: Boolean,
    default: false
  },
  fontSize: {
    default: 1.2
  },
  icon: {
    default: 'pi-exclamation-circle'
  },
  color: {
    default: '#708090'
  },
  spin: {
    type: Boolean,
    default: false
  },
  disabled: {
    type: Boolean,
    default: false
  }
})

const classesRegardingType = computed(() => {
  return classes[props.type]
})

const classRegardingFocus = computed(() => {
  if (props.type === 'drawer' && props.inFocusMenu) {
    // , 'bg-gradient-to-r from-sky-900 to-sky-900 via-white animate-gradient-x'
    return ['font-bold']
  }
  return ''
})

const fullWidth = computed(() => {
  return props.fullWidth ? ['w-full'] : []
})

const internalSpin = computed(() => {
  return props.spin ? 'pi-spin' : ''
})
</script>
