<template>
  <div >
    <div class="flex flex-row gap-2">
      <input type="text" placeholder="Fist name" v-model="person.firstName"/>
      <input type="text" placeholder="Last name" v-model="person.lastName"/>
      <input type="text" placeholder="Birth date" v-model="person.birthDate"/>
      <input type="text" placeholder="Email" v-model="person.email"/>
    </div>
    <SButton label="SAVE DATA" type="green" @click="saveData()" />
    <SButton label="GET DATA" @click="getTestData()" />
    <pre>TEST DATA {{ testData }}</pre>

    <STextInput id="testName" v-model="testName" placeholder="Input name" />
    testName => {{ testName }}

    <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>

    <SButton label="SHOW DIALOG" @click="toggleDialog()" />

    <div class="flex flex-row">
      AQUI {{ _.isEmpty({ name: 'Sidnei' }) }}
    </div>
  </div>
</template>

<script setup>
import SButton from '@/components/buttons/SButton.vue'
import STextInput from '@/components/inputs/STextInput.vue'
// import lodash from 'lodash'

import { useDialogStore } from '@/store/modules/dialog-store/dialogStore.js'
import { useTestStore } from '@/store/modules/testStore/testStore.js'
import { ref } from 'vue'
import { _ } from '@/helpers/utils'

const dialogStore = useDialogStore()
const testStore = useTestStore()
const dialogName = 'testDialog'
// const _ = lodash

const testData = ref([])
const person = ref({
  firstName: null,
  lastName: null,
  birthDate: null,
  email: null
})
const testName = ref(null)

const toggleDialog = () => {
  dialogStore.params.name = dialogName
  dialogStore.display[dialogName] = true
}

const saveData = async () => {
  const personToPost = {
    id: idGenerator(),
    first_name: person.value.firstName,
    last_name: person.value.lastName,
    birth_date: person.value.birthDate,
    email: person.value.email
  }

  const params = {
    data: personToPost,
    table: 'general-view-test'
  }

  try {
    await testStore.postTestData(params)
  } catch (error) {
    console.log(error)
  }
}

const idGenerator = () => {
  return Math.floor(Math.random() * 99999999999) + 1
}

const getTestData = async () => {
  const params = {
    table: 'general-view-test'
  }

  try {
    testData.value = await testStore.getTestData(params)
  } catch (error) {
    console.log('ERROR => ', error)
  }
}
</script>

<style>
.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
