<template>
  <div class="h-full space-y-2">
    <SButton v-for="button in menuButtons" :key="button.to"
      full-width
      :label="button.label"
      :type="button.type"
      :in-focus-menu="menuInFocus === button.to"
      @click="redirectTo(button.to)"
    />
  </div>
</template>

<script setup>
import SButton from '@/components/buttons/SButton.vue'
import { useRouter, useRoute } from 'vue-router'
import { computed } from 'vue'

const router = useRouter()
const route = useRoute()

const menuButtons = [
  { label: 'Home', type: 'drawer', to: 'Home' },
  { label: 'Manage users', type: 'drawer', to: 'ManageUsers' },
  { label: 'Tic tac toe', type: 'drawer', to: 'TicTacToe' },
  { label: 'Test page', type: 'drawer', to: 'Tests' },
]

const redirectTo = (to) => {
  router.push({
    name: to
  })
}

const menuInFocus = computed(() => {
  return route.name
})
</script>
