<template>
  <div class="space-y-4">
    <div class="flex flex-row gap-4 mb-8">
      <SButton
        label="Clear player selection"
        type="warning"
        @click="clearPlayerSelection(true)"
      />
      <SButton
        label="Reset game"
        type="red"
        @click="resetGame()"
      />
    </div>
    <div class="flex flex-row justify-center">
      <p class="text-xl font-semibold">CHOOSE YOUR PLAYER</p>
    </div>
    <div v-if="ticTacToeStore.ticTacToeData" class="flex flex-row justify-center gap-4">
      <SButton v-for="(player, key) in ticTacToeStore.ticTacToeData.players" :key="player.label"
        :label="player.name"
        :disabled="disableByPlayer"
        :add-classes="classesByPlayerChoosed(player)"
        @click="choosePlayer(player, key)"
      />
    </div>
    <div
      v-if="Object.keys(ticTacToeStore.ticTacToeData)"
      class="flex flex-row justify-center"
    >
      <div class="grid grid-cols-3 gap-4">
        <template v-for="(button, key) in ticTacToeStore.ticTacToeData" :key="key">
          <SButton
            v-if="key !== 'last_move' && key !== 'players'"
            :label="button.label"
            :disabled="isButtonDisabled(button)"
            type="ticTacToe"
            @click="selectButton(button, key)"
          />
        </template>
      </div>
    </div>
    <pre>DATA => {{ ticTacToeStore.ticTacToeData }}</pre>
  </div>
</template>

<script setup>
import SButton from '@/components/buttons/SButton.vue'
import { computed, ref } from 'vue'
import { useTicTacToeStore } from '@/store/modules/tic-tac-toe/ticTacToe.js'

const ticTacToeStore = useTicTacToeStore()

// Setup
const players = ref([
  { name: 'Player 1', label: 'P1' },
  { name: 'Player 2', label: 'P2' }
])

const playerSelected = ref({})

const disableByPlayer = computed(() => {
  return Object.keys(playerSelected.value).length ? true : false
})

const classesByPlayerChoosed = (player) => {
  if (!disableByPlayer.value) return []
  if (playerSelected.value.label === player.label) {
    return ['outline', 'outline-2', 'outline-sky-500']
  } else {
    return []
  }
}

ticTacToeStore.getTicTacToeData()

const isButtonDisabled = (button) => {
  return !!button.label || !Object.keys(playerSelected.value).length
}

// Handle actions
const choosePlayer = (player, key) => {
  const payload = { ...player, key: key }
  payload.isSelected = !payload.isSelected
  Object.assign(playerSelected.value, payload)
  ticTacToeStore.updateSelectedPlayer(payload)
}

const clearPlayerSelection = (needResetGame = false) => {
  const p1 = { key: 'player1', isSelected: false }
  const p2 = { key: 'player2', isSelected: false }
  ticTacToeStore.updateSelectedPlayer(p1)
  ticTacToeStore.updateSelectedPlayer(p2)
  playerSelected.value = {}
  if (needResetGame) resetGame()
}

const resetGame = () => {
  const newGameData = resetGameData()
  ticTacToeStore.resetGame(newGameData)
}

const resetGameData = () => {
  const newData = {}
  Object.assign(newData, ticTacToeStore.ticTacToeData)
  Object.keys(newData).forEach(key => {
    if (key.includes('btn')) {
      newData[key] = {
        player: '',
        label: ''
      }
    }
  })
  newData.last_move = {
    player: '',
    label: ''
  }
  return newData
}

const selectButton = (button, key) => {
  const payload = { playerSelected: playerSelected.value, button, key }
  ticTacToeStore.selectButton(payload)
}

clearPlayerSelection()
</script>
