<template>
  <div>
    <h2 class="text-3xl font-semibold mb-8">Manage users</h2>

    <div class="flex flex-row bg-white p-4 rounded space-x-2">
      <div class="basis-2/3 border-r-2">
        <UserList />
      </div>
      <div class="basis-1/3">
        <UserInput />
      </div>
    </div>
  </div>
</template>

<script setup>
import UserList from './UserList.vue'
import UserInput from './UserInput.vue'
</script>
