<template>
  <div>
    <div v-if="loadingStore.isPartialLoading" class="grid justify-items-center">
      <SPartialLoading />
    </div>
    <template v-else>
      <div
        v-if="manageUsersStore.usersData.length"
        class="space-y-2 mr-2"
      >
        <div
          v-for="user in manageUsersStore.usersData"
          :key="user.id">
          <UserListItem :user="user" />
        </div>
      </div>
      <template v-else>
        NO DATA TO SHOW
      </template>
    </template>
  </div>
</template>

<script setup>
import SPartialLoading from '@/components/loadings/SPartialLoading.vue'
import UserListItem from './UserListItem.vue'

import { useManageUsersStore } from '@/store/modules/manage-users/manageUsers.js'
import { useLoadingStore } from '@/store/modules/loading/loadingStore'

const manageUsersStore = useManageUsersStore()
const loadingStore = useLoadingStore()

const getAllUsers = async () => {
  const params = {
    tableIndex: 3
  }

  await manageUsersStore.getAllUsers(params)
}

getAllUsers()
</script>
