<template>
  <div class="space-y-4">
    <STextInput v-model="userData.first_name" label="First name" id="firstName" />
    <STextInput v-model="userData.last_name" label="Last name" id="lastName" />
    <STextInput v-model="userData.email" label="Email" id="email" />
    <STextInput v-model="userData.password" label="Password" id="password" />
    <SButton label="SAVE" @click="saveNewUser()" />
  </div>
</template>

<script setup>
import STextInput from '@/components/inputs/STextInput.vue'
import SButton from '@/components/buttons/SButton.vue'

import { useManageUsersStore } from '@/store/modules/manage-users/manageUsers.js'
import { ref } from 'vue'

const manageUsersStore = useManageUsersStore()

const userData = ref({})
const newUserData = () => {
  return {
    id: '',
    first_name: '',
    last_name: '',
    email: '',
    password: ''
  }
}

const saveNewUser = async () => {
  userData.value.id = idGenerator()

  const params = {
    data: userData.value,
    tableIndex: 3
  }

  try {
    await manageUsersStore.postUserData(params)
    await manageUsersStore.getAllUsers(params)
    assignNewUser()
  } catch (error) {
    console.log(error)
  }
}

const idGenerator = () => {
  return Math.floor(Math.random() * 99999999999) + 1
}

const assignNewUser = () => {
  userData.value = newUserData()
}
</script>
