<template>
  <div class="border rounded p-2 hover:bg-gray-50">
    <div class="flex flex-row">
      <div class="grow">
        <h2 class="text-lg font-semibold">{{ fullName }}</h2>
        <div class="flex flex-row">
          <SIcon icon="pi-envelope" :classes="[]" class="mr-2" />
          <p class="text-sm">{{ user.email }}</p>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-row self-center gap-2">
          <SIconButton
            type="cyan"
            color="white"
            icon="pi-user-edit"
            disabled
          />
          <SIconButton
            type="danger"
            color="white"
            icon="pi-trash"
            @click="confirmDeleteUser()"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import SIcon from '@/components/icons/SIcon.vue'
import SIconButton from '@/components/buttons/SIconButton.vue'

import { useDialogStore } from '@/store/modules/dialog-store/dialogStore.js'
import { useManageUsersStore } from '@/store/modules/manage-users/manageUsers.js'
import { computed } from 'vue'

const dialogStore = useDialogStore()
const manageUsersStore = useManageUsersStore()
const props = defineProps({
  user: {
    type: Object,
    required: true
  }
})

// Setup
const dialogName = 'deleteUserDialog'

const fullName = computed(() => {
  return `${props.user.first_name} ${props.user.last_name}`
})

// Delete user
const deleteUser = async () => {
  const params = {
    tableIndex: 3,
    id: props.user.id
  }

  await manageUsersStore.deleteUser(params)
  await manageUsersStore.getAllUsers(params)
}

const confirmDeleteUser = () => {
  dialogStore.params.name = 'deleteUserDialog'
  dialogStore.params.title = `Delete ${fullName.value}?`
  dialogStore.params.message = 'This action cant be undone'
  dialogStore.params.actionBtn = deleteUser

  dialogStore.display[dialogName] = true
}
</script>

<style lang="scss" scoped>

</style>
