<template>
  <div
    class="flex justify-center"
    :class="classes"
  >
    <i
      :class="`pi ${internalSpin} ${icon} self-center`"
      :style="`
        font-size: ${fontSize}rem;
        color: ${color}
      `"
      />
  </div>
</template>

<script setup>
import { computed } from 'vue'

const props = defineProps({
  fontSize: {
    default: 0.8
  },
  classes: {
    type: Array,
    default: () => ['rounded-full', 'w-6', 'h-6']
  },
  icon: {
    default: 'pi-exclamation-circle'
  },
  color: {
    default: '#708090'
  },
  spin: {
    type: Boolean,
    default: false
  }
})

const internalSpin = computed(() => {
  return props.spin ? 'pi-spin' : ''
})
</script>
