<template>
  <div class="flex h-screen">
    <div class="grow"></div>
    <main class="md:min-w-full lg:min-w-full xl:min-w-full 2xl:min-w-[90rem] h-full font-montserrat">
      <RouterView />
    </main>
    <div class="grow"></div>
  </div>
</template>

<script setup lang="ts">
import { RouterView } from 'vue-router'
import 'primeicons/primeicons.css'
</script>
