/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Local font import */
@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
