<template>
  <div
    class="fixed inset-0 z-20 flex items-center justify-center bg-gray-900 bg-opacity-50 text-black"
    v-show="dialogStore.display[dialogStore.params.name] === true"
  >
    <div class="peer absolute h-full w-full"></div>
    <Transition name="modal">
      <div
        v-if="dialogStore.display[dialogStore.params.name] === true"
        class="rounded-[0.3125rem] bg-white p-8 group-active:peer-out z-30 w-[46rem] duration-100 peer-active:scale-[1.01]"
      >
        <p class="text-2xl font-semibold mb-8">{{ dialogStore.params.title }}</p>
        <div class="mb-8">
          <span class="text-xl">{{ dialogStore.params.message }}</span>
        </div>
        <p v-if="dialogStore.params.reinforcement" class="body-3 mb-8">{{ reinforcement }}</p>
        <div class="flex justify-end">
          <SButton
            :type="dialogStore.params.cancelBtnType"
            :label="dialogStore.params.cancelBtnLabel"
            @click="cancelActionClicked()" />
          <SButton
            :type="dialogStore.params.actionBtnType"
            :label="dialogStore.params.actionBtnLabel"
            class="ml-4"
            @click="mainActionClicked()"
          />
        </div>
      </div>
    </Transition>
  </div>
</template>

<script setup>
import SButton from '@/components/buttons/SButton.vue'

import { useDialogStore } from '@/store/modules/dialog-store/dialogStore.js'

const dialogStore = useDialogStore()
const emit = defineEmits(['close-dialog'])

// --- Local variables ---
// --- Methods ---
const mainActionClicked = () => {
  if (dialogStore.params.actionBtn) {
    dialogStore.params.actionBtn()
  }
  closePopup()
}

const cancelActionClicked = () => {
  if (dialogStore.params.cancelBtn) {
    dialogStore.params.cancelBtn()
  }
  closePopup()
}

const closePopup = () => { dialogStore.display[dialogStore.params.name] = false }
</script>

<style scoped>
.modal-enter-active {
  @apply transition delay-150 duration-300 ease-in-out;
}
.modal-leave-active {
  @apply transition duration-300 ease-in-out;
}
.modal-enter-from {
  @apply scale-50 opacity-0;
}
.modal-leave-to {
  @apply scale-50;
}
</style>
